#carouselExampleIndicators, .carousel-inner {
    height: 360px;
    width: 600px;
}

legend {
    text-align: center;
}

#carouselExampleIndicators{
    margin-top: 124px;
    margin-bottom: 124px;
}
.formConnexion {
    margin-top: 24px;
    margin-bottom: 124px;
}


.formConnexion {
    color: white;
    height: 360px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 30px;
}


input {
    width: 100%;
}

label {
    margin-bottom: 4px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}